<h3>Eventos do component</h3>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th (click)="mostrar_esconder_Imagem()">
        <button class="btn btn-outline-dark btn-sm">
          {{!mostrarImagem ? 'Mostar': 'Esconder'}}
        </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoa</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let e of eventos">
      <td>{{e.id}}</td>
      <td>{{e.imagemURL}}</td>
      <td>{{e.tema}}</td>
      <td>{{e.local}}</td>
      <td>{{e.dataEvento}}</td>
      <td>{{e.qtdPessoas}}</td>
      <td>{{e.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar" placement="auto">Editar</button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" placement="auto" (click)="openModal(template)">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja excluir esse evento</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
